/* ==========================================================================
   Datatables
   ========================================================================== */
.dt-i-m {
    margin-top: 15px;
}

.dataTables_length,
.dataTables_info {
    float: none !important;
    display: inline-block !important;
    font-size: 12px !important;
    color: #aaaaaa !important;
    font-weight: 700 !important;
}

.dataTables_length {

}

.dataTables_info {
    margin-left: 30px !important;
}

.dataTables_wrapper {
    padding: 0 !important;
}

/* Pagination
   ========================================================================== */
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate
.paginate_button.current:hover {
    color: #fff !important;
    cursor: default;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    font-size: 13px;
    font-weight: 700;
    height: 23px;
    padding: 2px;
    text-align: center;
    width: 23px;
    border-radius: 3px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #aaaaaa !important;
    background-color: transparent;
    font-size: 13px;
    font-weight: 700;
    height: 23px;
    padding: 2px;
    text-align: center;
    width: 23px;
    border-radius: 3px;
    border: 1px solid transparent !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    box-shadow: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    padding: 2px !important;
    color: #337ab7 !important;
    background: transparent !important;
    border: 1px solid #337ab7 !important;
}


table.dataTable {
    border-collapse: collapse !important;
}

table.dataTable tbody tr {
    background-color: transparent !important;
}

table.dataTable thead .sorting_asc {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
}

table.dataTable thead .sorting_desc {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
}

table.dataTable thead .sorting {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
}

/* ==========================================================================
   Star rating
   ========================================================================== */
/*!
 * @copyright &copy; Kartik Visweswaran, Krajee.com, 2013 - 2016
 * @version 4.0.1
 *
 * A simple yet powerful JQuery star rating plugin that allows rendering fractional star ratings and supports
 * Right to Left (RTL) input.
 *
 * For more JQuery/Bootstrap plugins and demos visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */
.rating-loading {
    width: 25px;
    height: 25px;
    font-size: 0;
    color: #fff;
    background: transparent url('../images/loading.gif') top left no-repeat;
    border: none;
}

/*
 * Stars
 */
.rating-container .rating {
    cursor: default;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.rating-disabled .rating {
    cursor: not-allowed;
}

.rating-container .star {
    display: inline-block;
    margin: 0 3px;
    text-align: center;
}

.rating-container .empty-stars {
    color: #bbbbbb;
}

.rating-container .filled-stars {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: #ffcc00;
    white-space: nowrap;
    overflow: hidden;
}

.rating-rtl {
    float: right;
}

.rating-animate .filled-stars {
    transition: width 0.25s ease;
    -o-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
}

.rating-rtl .filled-stars {
    left: auto;
    right: 0;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
}

.rating-rtl.is-star .filled-stars {
    right: 0.06em;
}

.rating-rtl.is-heart .empty-stars {
    margin-right: 0.07em;
}

/**
 * Sizes
 */
.rating-xl {
    display: inline-block !important;
    font-size: 13px !important;
}

.rating-lg {
    font-size: 3.91em;
}

.rating-md {
    font-size: 3.13em;
}

.rating-sm {
    font-size: 2.5em;
}

.rating-xs {
    display: inline-block !important;
    font-size: 13px !important;
}

.rating-xl {
    font-size: 4.89em;
}

/**
 * Clear
 */
.rating-container .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%;
}

.clear-rating-active {
    cursor: pointer !important;
}

.clear-rating-active:hover {
    color: #843534;
}

.rating-container .clear-rating {
    padding-right: 5px;
}

/**
 * Caption
 */
.rating-container .caption {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%;
    margin-top: -0.6em;
}

.rating-container .caption {
    margin-left: 5px;
    margin-right: 0;
}

.rating-rtl .caption {
    margin-right: 5px;
    margin-left: 0;
}

/**
 * Print
 */
@media print {
    .rating-container .clear-rating {
        display: none;
    }
}

/* Others
   ========================================================================== */
.red_state {
    background-color: #f95d5d !important;
    border: 1px solid #f95d5d !important;
}

.red_state:hover {
    color: white !important;
}

.pointer {
    cursor: pointer !important;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

a.restore_account {
    border: 1px solid #5cb85c;
    border-radius: 5px;
    color: #5cb85c;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    padding: 4px 8px;
    text-transform: uppercase;
}

a.restore_account:hover {
    background: #5cb85c;
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}