

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .sales_view_single_info {
        margin-right: 10px;
        padding-right: 10px;
        width: 24%;
    }
    .drivers_resume_chart_section .total_deliverys { width: 35% }
    .statistics_chart_left:before {
        right: -40px;
        width: 35px;
    }
    .statistics_chart_right:before {
        left: -40px;
        width: 35px;
    }
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .data_table_area.shopsview_table .left_column { padding: 15px }
    .right_column { margin-left: 0 }
    .contact_top { padding: 15px }
    .contact_left { width: 60% }
    .contact_right { width: 40% }
    .sales_page .filter_list .search_bar { margin-right: 10px }
    .search_box { width: 210px }
    .sales_view_single_info { width: 30% }
    .invoice_paid_left h1 { font-size: 30px }
    .contact_info.invoice_history_section { min-height: 360px }
    .invoice_paid_bottm_top .single_left_top ul li { margin-left: 12px }
    .drivers_resume_chart_section .invoice_left_bottom .invoice_paid_bottm_top { margin-bottom: 25px }
    .single_middle { width: 40% }
    .drivers_resume_left .single_middle h2 { font-size: 16px }
    .dashboard_progress_report .invoice_paid_left h1,
    .statistics_total_sales_report h1 { font-size: 24px }
    .right_column.dashboard_right_column { padding: 15px }
    .statics_total_orders h3,
    .statistics_chart_left h3,
    .statistics_chart_right h3 { font-size: 20px }
    .statistics_chart_right p,
    .statistics_chart_left p,
    .statics_total_orders p { font-size: 10px }
    .statistics_chart_left:before {
        right: -35px;
        width: 30px;
    }
    .statistics_chart_right:before {
        left: -35px;
        width: 30px;
    }
    .statistics_chart_right,
    .statistics_chart_left { padding: 28px 0 }
    .sales_view_single_info {
        margin-right: 10px;
        padding-right: 10px;
        width: 23%;
    }
    .subbar_area {
        height: auto;
        padding: 20px 0;
    }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .header_logo {
        float: none;
        margin: 0 auto;
        max-width: 110px;
    }
    .logo { padding: 5px 0 }
    .top_menu {
        float: none;
        margin-top: 0px;
        overflow: hidden;
        width: 100%;
    }
    .top_menu .dashboard_menu {
        box-shadow: none;
        float: none;
    }
    .top_menu .dashboard_menu ul#menu li a {
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        margin: 3px 0;
        opacity: 0.4;
        filter: alpha(opacity=40);
        padding: 8px 0;
        text-transform: uppercase;
    }
    .top_menu .user_profile {
        float: none;
        margin: 0;
        position: absolute;
        right: 15px;
        top: 0;
    }
    .subbar_area { height: auto }
    .is-sticky .subbar_area {
        height: auto;
        /* padding: 5px 0;*/
    }
    .order_list {
        float: none;
        text-align: center;
    }
    .data_table_area { padding: 40px 0 30px }
    .pagination_left {
        float: none;
        overflow: hidden;
        text-align: center;
        margin-bottom: 15px;
    }
    ul.pagination {
        display: inherit;
        float: none;
        margin: 0;
        text-align: center;
    }
    ul.pagination li { display: inline-block }
    .data_table_area table.table td { padding: 8px 30px }
    .single_left {
        text-align: center;
        width: 100%;
    }
    .single_middle { width: 50% }
    .single_right {
        float: left;
        width: 50%;
    }
    .google_chart {
        margin-bottom: 30px;
        width: 100%;
    }
    .total_sale_middle {
        float: left;
        text-align: left;
        width: 50%;
    }
    .total_sale_right {
        float: right;
        text-align: right;
        width: 50%;
    }
    .invoice_history_table .table-responsive { border: medium none }
    .data_table_area.shopsview_table .left_column {
        margin-bottom: 30px;
        margin-right: 0;
        padding: 15px;
    }
    .right_column { margin-left: 0 }
    .contact_top { padding: 15px }
    .contact_left {
        margin-bottom: 30px;
        width: 100%;
    }
    .contact_right {
        float: left;
        width: 100%;
    }
    .order_list_title { margin-bottom: 10px }
    .total_sale_bottom {
        height: auto;
        overflow: hidden;
    }
    .filter_list {
        float: left;
        overflow: hidden;
        text-align: center;
        width: 100%;
    }
    .sales_page .filter_list .search_bar {
        float: none;
        margin-right: 0;
        text-align: center;
        width: 100%;
    }
    .search_box { margin: 0 auto 15px }
    .sales_page .filter_list .right_side_list {
        display: inline-block;
        float: none;
    }
    .shopsview_page .filter_list .right_side_list ul { display: inline-block }
    .table-responsive.shops_sales_table {
        border: medium none;
        margin-bottom: 30px;
    }
    .data_table_area .shops_sales_table table.table { margin: 0 }
    .data_table_area .shops_sales_table table.table td { padding: 8px 20px }
    .sales_view_wrapper { padding: 15px 15px 35px }
    .sales_view_single_info {
        border-bottom: 1px solid #e3e7ef;
        border-right: medium none;
        margin-bottom: 25px;
        margin-right: 0;
        padding-bottom: 15px;
        padding-right: 0;
        width: 100%;
    }
    .sales_view_single_info:last-child {margin-bottom: 0; padding-bottom: 0; border-bottom: none}
    .sales_view_top_info { margin-bottom: 0 }
    .sales_view_data_table .table-responsive { border: none }
    .sales_view_data_table .table-responsive table.table {
        border-bottom: 1px solid #99c9ea;
        border-left: none;
        border-right: none;
        border-top: none;
    }
    .sales_view_data_table .table-responsive table.table tr.sales_view_data_title {
        border-bottom: 1px solid #99c9ea;
        height: 30px;
        border-left: none;
        border-right: none;
        border-top: none;
    }
    .sales_view_data_table .table-responsive table.table tr.sales_view_data_row { border: none }
    .invoice_paid_left h1 { font-size: 30px }
    .contact_info.invoice_history_section {
        height: auto;
        min-height: inherit;
        padding: 15px;
    }
    .data_table_area.shopsview_table.shops_resume_page { padding-bottom: 30px }
    .invoice_left_bottom .total_sale_bottom .google_chart {
        margin-bottom: 0;
        margin-right: -20px;
        width: 100%;
    }
    .single_middle { width: 40% }
    .drivers_resume_left .single_middle h2 { font-size: 16px }
    .drivers_resume_chart_section .total_deliverys {
        border-bottom: 1px solid #c8cfdf;
        border-right: medium none;
        float: none;
        width: 100%;
    }
    a.suspend_account { margin-top: 15px }
    .dashboard_progress_report .invoice_paid_left h1, .dashboard_progress_report h1, .statistics_total_sales_report h1 { font-size: 20px }
    .right_column.dashboard_right_column { padding: 15px }
    .statistics_chart_left:before { background: none }
    .statistics_chart_right:before { background: none }
    .driver_rate_receiver { margin-right: 40px }
    .sales_view_total_order { margin-top: 30px }

    .data_table_area .drivers_resume_left .left_column_single {
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
        padding-bottom: 10px;
    }





}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}
